In [1]:
import pandas as pd

# URL de la API
url = "https://api.census.gov/data/2021/pep/population?get=NAME,POP_2020,POP_2021,DENSITY_2020,DENSITY_2021,LASTUPDATE&for=state:*"

# Cargar los datos de la API
df_estados = pd.read_json(url)

### Para los estados, debemos calcular varias medias. Para esto tendremos en cuanta datos de 3 anios (2020, 2021, 2022)

In [2]:

df_estados.columns = ['estado', 'pobl_20', 'pobl_21', 'dens_20', 'dens_21', 'update', 'id_estado' ]

In [3]:
# Eliminamos un encabezado que se mezclo con los datos
df_estados = df_estados[df_estados['id_estado'] != 'state']
# Eliminamos PUERTO RICO, el cual no es de interes para nuestro analisis
df_estados = df_estados[df_estados['id_estado'] != '72']
# Definimos algunas columnas como tipo numerico
df_estados['id_estado'] = df_estados['id_estado'].astype(int)
df_estados['pobl_20'] = df_estados['pobl_20'].astype(int)
df_estados['pobl_21'] = df_estados['pobl_21'].astype(int)

In [4]:
df_estados.sort_values(by= 'estado')

,estado,pobl_20,pobl_21,dens_20,dens_21,update,id_estado
49,Alabama,5024803,5039877,99.2122841380,99.5099129150,"Dec. 21, 2021",1
52,Alaska,732441,732673,1.2826862600,1.2830925496,"Dec. 21, 2021",2
46,Arizona,7177986,7276316,63.1569377370,64.0221138030,"Dec. 21, 2021",4
13,Arkansas,3012232,3025891,57.9319853770,58.1946786180,"Dec. 21, 2021",5
20,California,39499738,39237836,253.4347548800,251.7543622300,"Dec. 21, 2021",6
29,Colorado,5784308,5812069,55.8135518910,56.0814214470,"Dec. 21, 2021",8
40,Connecticut,3600260,3605597,743.4548987500,744.5569910400,"Dec. 21, 2021",9
24,Delaware,991886,1003384,509.0378243300,514.9386202900,"Dec. 21, 2021",10
10,District of Columbia,690093,670050,11289.7440490000,10961.8457220000,"Dec. 21, 2021",11
41,Florida,21569932,21781128,402.0439168100,405.9804181900,"Dec. 21, 2021",12
26,Georgia,10725800,10799566,185.8345202600,187.1125852300,"Dec. 21, 2021",13
3,Hawaii,1451911,1441553,226.0689240300,224.4561379100,"Dec. 21, 2021",15
35,Idaho,1847772,1900923,22.3578995750,23.0010226010,"Dec. 21, 2021",16
44,Illinois,12785245,12671469,230.3083706700,228.2588546000,"Dec. 21, 2021",17
36,Indiana,6785644,6805985,189.4058052400,189.9735779500,"Dec. 21, 2021",18
8,Iowa,3188669,3193079,57.0900516580,57.1690084670,"Dec. 21, 2021",19
9,Kansas,2935880,2934582,35.9091296250,35.8932536190,"Dec. 21, 2021",20
31,Kentucky,4503958,4509394,114.0488180600,114.1864679600,"Dec. 21, 2021",21
22,Louisiana,4651203,4624047,107.6388075400,107.0103594900,"Dec. 21, 2021",22
33,Maine,1362280,1372247,44.1651569730,44.4882874010,"Dec. 21, 2021",23
23,Maryland,6172679,6165129,635.6264925800,634.8490376000,"Dec. 21, 2021",24
43,Massachusetts,7022220,6984723,900.1762592300,895.3695301300,"Dec. 21, 2021",25
14,Michigan,10067664,10050811,177.8496514900,177.5519359400,"Dec. 21, 2021",26
28,Minnesota,5707165,5707390,71.6741816170,71.6770073090,"Dec. 21, 2021",27
45,Mississippi,2956870,2949965,63.0140994180,62.8669463950,"Dec. 21, 2021",28
12,Missouri,6154481,6168187,89.5241337770,89.7235035990,"Dec. 21, 2021",29
37,Montana,1086193,1104271,7.4626610516,7.5868654853,"Dec. 21, 2021",30
2,Nebraska,1961455,1963692,25.5338435350,25.5629643700,"Dec. 21, 2021",31
6,Nevada,3114071,3143991,28.3457163980,28.6180620940,"Dec. 21, 2021",32
15,New Hampshire,1377848,1388992,153.8848863900,155.1295034800,"Dec. 21, 2021",33
30,New Jersey,9279743,9267130,1261.7440344000,1260.0290755000,"Dec. 21, 2021",34
7,New Mexico,2117566,2115877,17.4554297200,17.4415070270,"Dec. 21, 2021",35
38,New York,20154933,19835913,427.7058521400,420.9359600800,"Dec. 21, 2021",36
16,North Carolina,10457177,10551162,215.0667812600,216.9997170300,"Dec. 21, 2021",37
21,North Dakota,778962,774948,11.2899813040,11.2318039020,"Dec. 21, 2021",38
17,Ohio,11790587,11780017,288.5685125300,288.3098172500,"Dec. 21, 2021",39
1,Oklahoma,3962031,3986639,57.7584243640,58.1171593930,"Dec. 21, 2021",40
27,Oregon,4241544,4246155,44.1846449630,44.2326782730,"Dec. 21, 2021",41
25,Pennsylvania,12989625,12964056,290.3212588700,289.7497855300,"Dec. 21, 2021",42
51,Rhode Island,1096229,1095610,1060.2977048000,1059.6989939000,"Dec. 21, 2021",44
18,South Carolina,5130729,5190705,170.6585245200,172.6534487600,"Dec. 21, 2021",45
4,South Dakota,887099,895376,11.7016675950,11.8108489860,"Dec. 21, 2021",46
5,Tennessee,6920119,6975218,167.8316023700,169.1679021400,"Dec. 21, 2021",47
11,Texas,29217653,29527941,111.8305739900,113.0182013800,"Dec. 21, 2021",48
47,Utah,3281684,3337975,39.8374603160,40.5207956030,"Dec. 21, 2021",49
34,Vermont,642495,645570,69.7042054230,70.0378118040,"Dec. 21, 2021",50
42,Virginia,8632044,8642274,218.6314076400,218.8905118900,"Dec. 21, 2021",51
32,Washington,7718785,7738692,116.1501543700,116.4497094300,"Dec. 21, 2021",53
50,West Virginia,1789798,1782959,74.4472333340,74.1627628920,"Dec. 21, 2021",54
48,Wisconsin,5892323,5895908,108.7799712400,108.8461550200,"Dec. 21, 2021",55
19,Wyoming,577267,578803,5.9457687257,5.9615893092,"Dec. 21, 2021",56

### Aqui sumamos los datos que nos faltaban para el analisis

In [5]:
# Lee el archivo xlsx y carga los datos en un DataFrame
df_mas_datos = pd.read_excel('estados2022.xlsx')
# Definimos algunas columnas como tipo numerico
df_mas_datos['id_estado'] = df_mas_datos['id_estado'].astype(int)
df_mas_datos['2022'] = df_mas_datos['2022'].astype(int)

In [6]:
df_mas_datos

    id_estado                estado      2022  income_percapita
0           1               Alabama   5074296             45248
1           2              Alaska *    733583             62277
2           4               Arizona   7359197             51248
3           5              Arkansas   3045637             46922
4           6            California  39029342             63133
5           8              Colorado   5839926             64815
6           9           Connecticut   3626205             67460
7          10              Delaware   1018396             54419
8          11  District of Columbia    671803             76603
9          12               Florida  22244823             55859
10         13               Georgia  10912876             48920
11         15              Hawaii *   1440196             53085
12         16                 Idaho   1939033             49692
13         17              Illinois  12582032             57724
14         18               Indiana   6833037             51313
15         19                  Iowa   3200517             53224
16         20                Kansas   2937150             52735
17         21              Kentucky   4512310             45882
18         22             Louisiana   4590241             49340
19         23                 Maine   1385340             53011
20         24              Maryland   6164660             58642
21         25         Massachusetts   6981974             68874
22         26              Michigan  10034113             49692
23         27             Minnesota   5717184             58608
24         28           Mississippi   2940057             42170
25         29              Missouri   6177957             50688
26         30               Montana   1122867             52822
27         31              Nebraska   1967923             56651
28         32                Nevada   3177772             53870
29         33         New Hampshire   1395231             64666
30         34            New Jersey   9261699             64683
31         35            New Mexico   2113344             47274
32         36              New York  19677151             60451
33         37        North Carolina  10698973             50640
34         38          North Dakota    779261             63339
35         39                  Ohio  11756058             50635
36         40              Oklahoma   4019800             50958
37         41                Oregon   4240137             53079
38         42          Pennsylvania  12972008             55624
39         44          Rhode Island   1093734             54692
40         45        South Carolina   5282634             47058
41         46          South Dakota    909824             61641
42         47             Tennessee   7051339             52522
43         48                 Texas  30029572             55734
44         49                  Utah   3380800             51005
45         50               Vermont    647064             54922
46         51              Virginia   8683619             58578
47         53            Washington   7785786             65087
48         54         West Virginia   1775156             45059
49         55             Wisconsin   5892539             53741
50         56               Wyoming    581381             63328

In [7]:
# Unificamos ambos set de datos teniendo en cuenta el id_estado.
df_estados = pd.merge(df_estados, df_mas_datos, on='id_estado')

In [8]:
df_estados.head(2)

,estado_x,pobl_20,pobl_21,dens_20,dens_21,update,id_estado,estado_y,2022,income_percapita
0,Oklahoma,3962031,3986639,57.7584243640,58.1171593930,"Dec. 21, 2021",40,Oklahoma,4019800,50958
1,Nebraska,1961455,1963692,25.5338435350,25.5629643700,"Dec. 21, 2021",31,Nebraska,1967923,56651

In [9]:
# Eliminamos columnas que se duplicaron o que no seran de ayuda para el analisis
df_estados = df_estados.drop(['estado_y', 'update'], axis=1)
# Renombramos columnas para diferenciarlas mejor
df_estados.columns = ['estado', 'pobl_20', 'pobl_21', 'dens_20', 'dens_21', 'id_estado', 'pobl_22', 'per_capita_income']
# Ordenamos el dataframe
df_estados = df_estados[['id_estado', 'estado', 'pobl_20', 'pobl_21', 'pobl_22', 'dens_20', 'dens_21', 'per_capita_income']]

In [10]:
df_estados.head(5)

,id_estado,estado,pobl_20,pobl_21,pobl_22,dens_20,dens_21,per_capita_income
0,40,Oklahoma,3962031,3986639,4019800,57.7584243640,58.1171593930,50958
1,31,Nebraska,1961455,1963692,1967923,25.5338435350,25.5629643700,56651
2,15,Hawaii,1451911,1441553,1440196,226.0689240300,224.4561379100,53085
3,46,South Dakota,887099,895376,909824,11.7016675950,11.8108489860,61641
4,47,Tennessee,6920119,6975218,7051339,167.8316023700,169.1679021400,52522

In [11]:
# Tasa de crecimiento = ((Poblacion_final - Poblacion_inicial) / Poblacion inicial​)×100
# Realizamos la tasa de crecimiento de un anio a otro y luego un promedio entre ambas.

df_estados['tasa_A'] = ((df_estados['pobl_21'] - df_estados['pobl_20']) / df_estados['pobl_20']) * 100
df_estados['tasa_b'] = ((df_estados['pobl_22'] - df_estados['pobl_21']) / df_estados['pobl_21']) * 100

df_estados['avg_pop_grow'] = ((df_estados['tasa_A'] + df_estados['tasa_b']) / 2)

In [12]:
df_estados.head(5)

,id_estado,estado,pobl_20,pobl_21,pobl_22,dens_20,dens_21,per_capita_income,tasa_A,tasa_b,avg_pop_grow
0,40,Oklahoma,3962031,3986639,4019800,57.7584243640,58.1171593930,50958,0.621096,0.831803,0.726450
1,31,Nebraska,1961455,1963692,1967923,25.5338435350,25.5629643700,56651,0.114048,0.215461,0.164755
2,15,Hawaii,1451911,1441553,1440196,226.0689240300,224.4561379100,53085,-0.713405,-0.094135,-0.403770
3,46,South Dakota,887099,895376,909824,11.7016675950,11.8108489860,61641,0.933041,1.613624,1.273333
4,47,Tennessee,6920119,6975218,7051339,167.8316023700,169.1679021400,52522,0.796215,1.091306,0.943761

In [13]:
# Eliminamos las columnas que funcionaron de intermedias
df_estados = df_estados.drop(['pobl_20', 'pobl_21','dens_20', 'dens_21','tasa_A', 'tasa_b' ], axis=1)

# Renombramos y ordenamos
df_estados.columns = ['id_estado', 'estado', 'avg_pop', 'per_capita_income', 'avg_pop_grow']
df_estados = df_estados[['id_estado', 'estado', 'avg_pop', 'avg_pop_grow', 'per_capita_income']]

In [14]:
# Guardar el DataFrame como un archivo JSON
df_estados.to_json('estados.json', orient='records', lines=True)